.title { font-size: 18pt; font-weight: bold; }
.label { font-size: 10pt; color: purple; }    
.artist { font-size: 10pt; color: green; }    
.hdr { font-size: 12pt; color: brown; font-weight: bold; margin-left: 25px; } 
.text { font-size: 12pt; line-height: 140% }
.lyrics { font-size: 14pt; background-color: #FCC9C3; } 
.call { font-size: 14pt; font-weight: bold;}                                   
font { font-family: Tahoma, Arial, Helvetica, Sans Serif; }                   
body, p, font { font-family: Arial, Helvetica, Verdana, Sans Serif;  font-size: 10pt; } 
dd { margin-left: 50px; } 
